<div class="container">
    <!-- Navbar -->
    <div class="navbar">
        <a href="/"> Home</a>
        <div class="dropdown">
            <button class="dropbtn manage">Manage</button>
            <div class="dropdown-content">
                    <div class="logout">
                        <% if (user.role === 'owner') { %>
                            <!-- Show this option only if the user's role is 'owner' -->
                            <a href="#" onclick="loadContent('/owner', 'owner'); return false;">Pending bookings</a>
                        <% } %>

                        <% if (user.role === 'superadmin' || user.role === 'admin') { %>
                            <!-- Show this option only if the user's role is 'owner' -->
                            <%-include('admin/dashboard nav', { user: admin })%>
                        <% } %>

                        <a href="/logout" class="btn" style="background-color: red;">Logout</a>
                    </div>
            
            </div>
        </div>
    </div>

    <!-- User Card -->
    <div class="card">
        <div class="card-header">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User Profile Image" class="profile-img">
            <h2>Welcome,<%=  user.username %>!</h2>
            <p>ID: <%= user._id %></p>
        </div>
        <div class="card-body">
            <h4>Information</h4>
            <p>Email: <%= user.email %></p>
            <p>Phone: <%= user.mobile %></p>
        </div>
    </div>
